.container{
	display:flex;
	justify-content:space-between;
	text-align: center;
}

.main{
	background-color:#f5f5f5;
}

.header{
	background-color:#011e29;
	color:white;
	text-align: center;
}

.latest-news-section{
	/* border:2px solid black; */
	height:10%;
	border-radius:15px;
	background-color:white;
}

.item2{
	/* border:2px solid black; */
	height:20%;
	border-radius:15px;
	background-color:white;
}

.pictorial-news-section{
	border:2px solid black;
	height:50%;
	border-radius:15px;
	background-color:white;
}
